<div class="container">
    <h1>Flatiron Calendarizer</h1>

    <%= form_tag("/calendars/create", class: "my_form") do %>

        <div class="form-group">
        <label for="calendar[id]">Calendar</label>
        <select required name="calendar[id]">
            <option value="">Select a Calendar</option>
            <% @calendar_list.each do |calendar| %>
                <option value="<%= calendar.id %>"><%= calendar.summary %></option>
            <% end %>

        </select>

        <div class="form-group">
            <label for="calendar[module]">Module</label>
            <select required name="calendar[module]">
                <option value="">Select a Module</option>
                <option value="1a">Module 1 (classic)</option>
                <option value="1b">Module 1 (revamp)</option>
                <option value="2a">Module 2 (with Sinatra)</option>
                <option value="2b">Module 2 (no Sinatra)</option>
                <option value="3">Module 3</option>
                <option value="4">Module 4</option>
                <option value="0">Community Events</option>
            </select>
        </div>

        <div class="form-group">
        <label for="calendar_start_date">Day 1 of Module</label>
        <%= date_field(:calendar, "start_date", min: Date.today, :value => Time.now.strftime('%Y-%m-%d'), :class=>'form-control', :required=>true) %>
        <small id="start_date_help" class="form-text text-muted">Choose the Monday of the week the module begins.</small>
        </div>

        <div class="form-group">
        <label for="calendar_start_time">Default lecture start time</label>
        <input type="time" id="calendar_start_time" name="calendar[start_time]" min="9:00" max="18:00"  value="10:00" step="900" />
        </div>

        <div class="form-group" id="time_zone">
        <label for="calendar_time_zone">Time Zone</label>
        <%= select("calendar", "time_zone", @timezones, {:class=>'form-control'}) %>
        </div>

        <div class="form-group" id="invitees">
        <label for="calendar_invitees">Comma-separated list of email addresses of invitees (optional)</label>
        <input type="text" name="calendar[invitees]" />
        </div>
        <%= submit_tag "Populate calendar", :onclick => "return checkMonday()" %>
    <% end %>
</div>

    <h6>Made with ♥ by Paul Nicholsen for Flatiron School</h6>
    <h6><a href="https://github.com/paulnicholsen27/flatiron-calendar-maker">Source code here</a>--Contributions greatly encouraged!</h6>

<%= javascript_include_tag "time_zone" %>
